*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 65px;
    width: 100%;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
   height: 60px;
   width: 110px;
   align-content: center;
   margin-left: 10px;
}
.logo{
    background-image: url('amazon_logo.png');
    height: 50px;
    width: 100%;
    background-size: cover; 
    padding: 0px 5px 0px 5px;  
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
    
}
 /**box2**/   
.loc{
    height: 50px;
    width: 88px;
    padding: 0px 5px 10px 5px;
}
.loc-logo{
    height: 15px;
    width: 5px;
    float: left;
    padding-top: 6px;
    
}
.add-fir{
    color: #cccccc;
    font-weight: 12px;
    font-size: 12px;
    float: left; 
}
.add-sec{
    color: #ffffff;
    font-weight: 20px;
    font-size: 16px;
    float: left;
    padding-top: 12px;
    padding-left: 8px;
    height: 20px;
    width: 60px;
}
.nav-search{
    width: 920px;
    height: 45px;
    display: flex;
    border-radius:6px ;
}
.search-select{
    width: 50px;
    border-top-left-radius: 6px;
    background-color: #f3f3f3;
    border-bottom-left-radius:6px ;
    border: none;
}
#search-input{
    width: 830px;
    border: none;
    font-size: 0.9rem;
}
.search-icon{
    height: 45px;
    width: 50px;
    background-color:#febd68;
    border-top-right-radius:6px ;
    border-bottom-right-radius:6px ;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
    border: none;
}
.w1{
    font-size: 12px;
}
.w2{
    font-size:16px;
}
.box4{
    margin-left:10px ;
    height: 43px;
    width: 120px;
    justify-content: center;
    padding-top: 13px;
    padding-left: 5px;
}
.box5{
    padding-left: 5px;
    height: 43px;
    width: 80px;
    justify-content: center;
    padding-top: 13px;
}
.nav-country{
    display: flex;
    height: 35px;
    width: 65px;
    padding-left: 5px;
    margin-left: 5px;
    padding-top: 25px;
}
.coun-name{
    height: 20px;
    width: 35px;
    border: none;
    text-align: center;
    background-color: transparent;
    color: white;
    font-weight:bold;
    margin-bottom: 10px;
}
.flag{
    padding-right: 1px;
    padding-top: 3px;

}
.box6{
    display: flex;
    height: 40px;
    width: 80px;
    padding: 10px 0px 9px 0px;
    justify-content: center;
    margin-right: 10px;
    
}
.icon-cart{
    font-size: 30px;
    padding-top: 0px;
}
.text-cart{
    padding-top: 15px;
}
.nav2{
    height: 40px;
    width: 100%;
    background-color:rgb(2,16,41,0.85);
    display: flex;
}
.menu1{
    font-size: 18px;
    height: 36px;
    width: 45px;
    margin-left: 20px;
    display: flex;
    color: white;
    align-items: center;
    padding-left: 5px;
    font-weight: bold;
}
.menu2{
    height: 26px;
    width: 120px;
    padding-top: ;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
}
.menu3{
    height: 26px;
    width: 140px;
    padding-top: ;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
}
.menu4{
    height: 26px;
    width: 80px;
    padding-top: ;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
}
.menu5{
    height: 26px;
    width: 75px;
    padding-top: ;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
}
.menu6{
    height: 26px;
    width: 60px;
    padding-top: ;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
}
.content1{
    height: 550px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;

}
.left-swipe{
    position: absolute;
      top: 200px;
      left: 35px;
    font-size: 60px; 

}
.right-swipe{
    position: absolute;
      top: 200px;
      left: 1450px;
    font-size: 60px;  
}
.border1{
    border: transparent;
}
.border1:hover{
    border: 2px solid skyblue;
}
.image1-des{
    height: 30px;
    width: 1475px;
    position: absolute;
       top: 335px;
       left: 30px;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
}
.row4-img1{
    height: 415px;
    width: 350px;
    position: absolute;
       top: 390px;
       left: 30px;
}
.row4-img2{
    height: 415px;
    width: 350px;
    position: absolute;
       top: 390px;
       left: 400px;
}
.row4-img3{
    height: 415px;
    width: 360px;
    position: absolute;
       top: 390px;
       left: 770px;
}
.sign-in-box{
    height: 130px;
    width: 350px;
    background-color: white;
    position: absolute;
       top: 390px;
       left: 1140px;
    text-align: center; 
    padding-top: 20px;
    font-size: 21px;  
}
.sign-in-button-box{
    font-size: 14px;
    height: 30px;
    width: 300px;
    background-color:rgb(255, 226, 5);
    border-radius:8px ;
    border: none;
}
.sign-in-button-box:hover{
    background-color: rgb(235, 186, 52);
}
.row4-img4{
    height: 250px;
    width: 300px;
    position: absolute;
       top: 560px;
       left: 1170px;
}
.row5-img1{
    height: 415px;
    width: 350px;
    position: absolute;
       top: 825px;
       left: 30px;
    background-color: yellow;
}
.row5-img2{
    height: 415px;
    width: 350px;
    position: absolute;
       top: 825px;
       left: 400px;
}
.row5-img3{
    height: 415px;
    width: 350px;
    position: absolute;
       top: 825px;
       left: 770px;
}
.row5-img4{
    height: 415px;
    width: 350px;
    position: absolute;
       top: 825px;
       left: 1140px;
}
.row6{
    height: 415px;
    width: 1520px;
    position: absolute;
       top: 1260px;
       left: 0px;
}
.row7{
    height: 415px;
    width: 1520px;
    position: absolute;
       top: 1695px;
       left: 0px;
}
.row8{
    height: 430px;
    width: 1520px;
    position: absolute;
       top: 2130px;
       left: 0px;
}
.row9{
    height: 120px;
    width: 1520px;
    position: absolute;
        top: 2570px;
        left: 0px;
    text-align: center;   
    padding-top: 30px; 
}
.footer-sign-in{
    height: 30px;
    width: 250px;
    border: none;
    background-color:rgb(255, 226, 5);
    border-radius:8px ;
}
.fotter-add-1{
    font-size: 14px;
}
.fotter-add-2{
    font-size: 12px;
}
.top{
    height: 40px;
    width: 1520px;
    position: absolute;
        top: 2710px;
        left: 0px;
    text-align: center;   
    padding-top: 20px;
    background-color:rgb(2,16,41,0.85); 
}
.top:hover{
    opacity: 0.9;
}